{% extends 'base.html' %}

{% block head %}
<title>Logout</title>

<div class="container">
	<h2>EyeWay Vehicle Tracking Solutions...</h2>
	<p>
		You have successfully Logged out!
		
		Click here to log in.
	</p>
		<a href="/account/login" class="btn btn-primary">Login</a>
</div>

{% endblock %}