
<title>Welcome To Flask</title>
<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'my_css.css') }}">

{% if name_variable %}
<h1>Hey there, {{ name_variable }} !</h1>
{% else %}
<h1> Please Log in</h1>
{% endif %}