<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Year</th>
      <th>Population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2011-03-01</td>
      <td>5057709.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2001-03-01</td>
      <td>3760636.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1991-03-01</td>
      <td>2493987.0</td>
    </tr>
  </tbody>
</table>